RewriteEngine On

# Si le fichier ou dossier existe, ne rien faire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger tout vers index.php (qui lui-même appelle authApi.php)
RewriteRule ^ index.php [QSA,L]
